.side_menu_item {
    display: flex;
    align-items: center;
    color: white;
    padding: 15px 15px;
    border-radius: 3px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.5em;
}

.side_menu_item:hover {
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.2);
}

.text {
    margin-left: 20px;
}