.background {
    background-image: url("https://eostoolkit.io/1ab60d0cd17eaea057264d7c725c95aa.jpg");
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.side_menu {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.side_menu_header {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Bebas', 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
    padding: 23px 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.menu_icon {
    margin-right: 25px;
}