.card {
    margin-bottom: 30px;
    border-radius: 6px;
    color: #3C4858;
}

.card_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.card_header_left {
    display: flex;
}

.person_icon {
    margin-right: 15px;
    background: linear-gradient(60deg, #66bb6a, #43a047);
    padding: 15px 18px;
    border-radius: 3px;
    margin-top: -35px;
    margin-bottom: 15px;
}

.name {
    color: #3C4858;
    font-weight: 400;
}

.edit_button:focus {
    outline: 0;
}

.content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    margin-bottom: 15px;
}

.label {
    margin-right: 10px;
    font-weight: 600;
}

.email {
    overflow-wrap: anywhere;
    margin-right: 30px;
}

.delete_button {
    align-self: flex-end;
    margin-top: -40px;
}

.delete_button:focus {
    outline: 0;
}