.reservation_creation {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 30px;
    border-radius: 6px;
    color: #3C4858;
}

.card_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.card_header_left {
    display: flex;
}

.person_icon {
    margin-right: 15px;
    background: linear-gradient(60deg, #66bb6a, #43a047);
    padding: 15px 18px;
    border-radius: 3px;
    margin-top: -35px;
    margin-bottom: 15px;
}

.name {
    color: #3C4858;
    font-weight: 400;
}

.form {
    margin-top: 20px;
}

.error {
    margin-top: 7px;
    display: flex;
    color: red;
}

.error_message {
    margin-left: 5px;
}

.date_picker {
    width: fit-content;
}

.date_value {
    margin-top: 10px;
}