.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    padding-left: 45px;
    color: #555555;
    font-size: 18px;
}

.menu_button:focus {
    outline: 0;
}

@media only screen and (min-width: 960px) {
    .menu_button {
        display: none;
    }
}