@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";

.sidebar {
    width: 260px;
    position: fixed;
    height: 100%;
    display: none;
}

@media only screen and (min-width: 960px) {
    .sidebar {
        display: block;
    }

    .main {
        margin-left: 260px;
    }
}